.Rproj.user
.Rhistory
.RData
.Ruserdata

extras/
data/
CSV/
GHIgnore/
Output/
WordPredictor/

Master Single Word Counts.csv
Master Two Word Counts.csv
Master Three Word Counts.csv
Master Four Word Counts.csv
Master Five Word Counts.csv
